@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
    --orange: rgba(255, 124, 78, 1);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    color: #0F1F1C;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.container-right {
    padding-left: calc((100% - var(--container-width)) /2 + var(--container-padding));
    
}

.block {
    height: 90px;
    background-color: orange;
}


/* HEADER */

.header {
    position: relative;
    min-height: 940px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    padding-top: 44px;
    color: #fff;
    overflow: hidden;
}

.header a {
    color: #fff;
} 

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url(../img/header/header-botton.svg);
    background-size: 100%;
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
display: flex;
}

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img {
    width: 894px;
    height: 940px;
    max-width: unset;
    position: absolute;
    top: -181px;
    right: -87px;
    pointer-events: none;
}

.header__img::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -50px;

    width: 830px;
    height: 622px;
    background-image: url("../img/header/header-elements.svg");
    pointer-events: none;
}




/*    NAV  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;

}


.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    right: 10px;
    height: 4px;
    background-color: #C4C4C4;
    border-radius: 50px;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
    display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
    color: var(--orange);
}

.nav__login {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    gap: 25px;
    align-items: center;
}

.nav__toggle {
    display: none;
}

/*   LOGO   */

.logo {
    font-size: 20px;
    font-weight: 700;
}

.logo--footer a {
    color: var(--orange);
}

/*   BTN  */

.btn {
    padding: 13px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    color: #fff;
    transition: color .2s ease-in;
}

.btn:hover {
color: rgb(206, 228, 83) !important;
}

.btn:active {
    position: relative;
    top: 1px;
}

/*  HEADER CONTENT */

.header__badge {
font-size: 18px;
font-weight: 500;
padding: 12px 30px;
color: rgba(255, 255, 255, 1);
background: rgba(255, 255, 255, 0.25);
border-radius: 15px;
display: inline-block;
margin-bottom: 7px;
}


.header__title {
    font-size: 55px;
    font-weight: 400px;
    line-height: 82px;
    margin-bottom: 30px;
}


.header__text {
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    line-height: 38px;
    margin-bottom: 68px;

}


.header__btn {
    padding: 27px 48px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 27px;
    display: inline-block;
    color: #fff;
    transition: color .2s ease-in;
    font-size: 25px;
    font-weight: 600;

}

.header__btn:hover {
color: rgb(206, 228, 83);

}

.header__btn:active {
    position: relative;
    top: 1px;
}

/*  DESTINATION  */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destination__row {
    display: flex;
    column-gap: 50px;
}
.destinations__content {
    max-width: 456px;
}
.destination__slider {
    width: 1110px;
    flex-shrink: 0;
}


.destinations__title {
    font-size: 55px;
    font-weight: 600;
    color: rgba(15, 31, 28, 1);
    margin-bottom: 15px;

}

.destinations__title span {
    font-size: 30px;
}

.destinations__text {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
    margin-bottom: 60px;
}
.button {
    padding: 25px 45px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 27px;
    display: inline-block;
    color: #fff;
    transition: color .2s ease-in;
    font-size: 20px;
    font-weight: 600;
}

.button:hover {
    color: rgb(206, 228, 83);
    
    }
    
    .button:active {
        position: relative;
        top: 1px;
    }

    /*  SLIDER  */

    .owl-item {
        display: flex;
        justify-content: center;
    }


    .slider {
        position: relative;
        height: 456px;
    }

    .slider__item {
        margin-top: 27px;
        width: 335px;
        height: 402px;
        object-fit: cover;
        border-radius: 35px;
        transition: 0.2s ease-in;
    }



    .slider .center .slider__item {
        margin-top: 0;
        width: 380px;
        height: 456px;
    }

    .slider__btn {

        display: block;
        width: 68px;
        height: 68px;
        border-radius: 50%;

        display: flex;
        
        align-items: center;


        background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
    }

    .slider__btn--prev {
        position: absolute;
        left: -27px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        padding-left: 26px;
        justify-content: flex-start;
    }

    .slider__btn--next {
        position: absolute;
        right: -27px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        padding-right: 26px;
        justify-content: flex-end;
    }

    /*  Customers */

    .customers {
        padding: 100px 0 133px;
    }

    .customers__row {
        display: flex;
        column-gap: 68px;
    }

    .customers__img {
        max-width: 478px;
        
    }

    .customers__img img {
        border-radius: 60px;
    }


    .customers__title {
        margin-bottom: 35px;
        font-size: 45px;
        font-weight: 500;
        max-width: 565px;
    }

    /*  Review */

    .review {
        max-width: 490px;
    }

    .review__client {
        display: flex;
        align-items: center;
        column-gap: 33px;
        margin-bottom: 60px;
    }

    .review__client-avatar {
        width: 134px;
        height: 134px;
        border-radius: 50%;
        background-color: #FF794E;
        overflow: hidden;
    }


    .review__client-desc-name {
        font-size: 33px;
        font-weight: 500;
        margin-bottom: 10px;
        
    }

    .review__client-desc-country {
        font-size: 25px;
        font-weight: 400;
        color: var(--secondary)
    }

    .review__text {
        margin-bottom: 30px;
        color: var(--secondary);
        font-size: 22px;
        font-weight: 500;
    }


    /* CTA */

    .cta {
        padding: 100px 0;
    }

    .cta__plate {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 580px;
        padding: 40px 15px;
        justify-content: center;
        background-color: #fff;
        border-radius: 60px;
        position: relative;
    }

    .cta__plate::before,
    .cta__plate::after {
        position: absolute;
        width: 63px;
        height: 83px;
    }

    .cta__plate::before {
        content: "";
        left: 74px;
        bottom: 56px;
        background-image: url("./../img/cta/cta-el-01.svg");

    }

    .cta__plate::after {
        content: "";
        top: 74px;
        right: 80px;
        background-image: url("./../img/cta/cta-el-02.svg");
        
    }

    .cta__title {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .cta__text {
        margin-bottom: 60px;
        color: var(--secondary);
        font-size: 30px;
        font-weight: 500;
    }

/*   SUBCRIBE  */

.subscribe {
    padding: 35px 0 50px;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subcribe__title {
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 60px;
}

.subcribe-form {
    border-radius: 35px;
    background-color: #fff;
    padding: 12px 15px 12px 46px;
    display: flex;
    column-gap: 20px;
}

.subcribe-form__input {
    font-size: 24px;
    font-weight: 500;
    
}


.subcribe-form__input::placeholder {
    color: var(--secondary);
}

.subcribe-form__btn {
    padding: 34px 87px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 35px;
    display: inline-block;
    color: #fff;
    transition: color .2s ease-in;
    font-size: 25px;
    font-weight: 600;
}


.subcribe-form__btn:hover {
color: rgb(206, 228, 83);

}

.subcribe-form__btn:active {
    position: relative;
    top: 1px;
}


/*   Footer  */

.footer {
    padding: 56px 0 74px;
}

.footer a {
    color: var(--secondary);
}

.logo--footer a {
    color: var(--orange);
}

/*  Buttons-login  */

.btn--login {
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
    padding: 13px 44px;
    color: #fff !important;
}

/*  Menu Icon  */

.menu-icon-wrapper {
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu-icon {
      position: relative;
      width: 30px;
      height: 5px;
      background-color: #fff;
    }
    
    .menu-icon::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon.menu-icon-active {
      background-color: transparent;
    }
    
    .menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    
    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    



/*  MEDIA   */

@media (max-width: 1269px) {
    .container-right {
        padding-left: 15px;
    }
}

@media (max-width: 1200px) {
    .destination__slider {
        width: 900px;
    }
}

@media (max-width: 1000px) {
    .nav__list--header {
        display: none;
    }

    .nav__login--header {
        display: none;
    }

    .nav__list {
        column-gap: 50px;
    }

    .nav {
        column-gap: 50px;
    }

    .nav__toggle {
        display: block;
    }

    .no-scroll {
        overflow-y: hidden;
    }

    .nav--mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;   
        z-index: 99;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    }

    .nav--mobile .logo {
        font-size: 34px;
    }

    .nav--mobile .nav__list {
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 40px;
        font-size: 22px;
    }

    .nav--mobile .nav__list a.active::after,
    .nav--mobile .nav__list a:hover:after  {
        display: none;
    }

    .nav--mobile .nav__login {
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 40px;
        font-size: 22px;
    }

    .nav--mobile .nav__toggle {
        position: fixed;
        top: 40px;
        right: 50px;
    }

    .header__img img {
        right: -256px;
    }

    .header__img::after {
        right: -300px;
    }

    .slider .slider__item {
        margin-top: 18px;
        width: 223px;
        height: 268px;
    }

    .slider .center .slider__item {
        margin-top: 9px;
        width: 253px;
        height: 304px;
    }

    .slider {
        height: 304px;
    }
}

@media (max-width: 850px) {

    .container-right {
        padding-right: 15px;
}

    .header {
        padding-top: 20px;
        min-height: unset;
    }

    .header__top {
        margin-bottom: 40px;
    }

    .header__row {
        flex-direction: column;
        
    }

    .header__img img {
        position: static;
        width: 70%;
        height: auto;
    }

    .header__img::after {
        right: -20px;
        top: 100px;
    }

    .header__title {
        margin-bottom: 20px;
        font-size: 35px;
    }

    .header__text {
        margin-bottom: 40px;
        font-size: 20px;
        max-width: 400px;
    }

    .header_badge {
        margin-bottom: 7px;
        padding: 8px 20px;
        font-size: 16px;
        border-radius: 10px;
    }

    .btn--header {
        padding: 20px 30px;
        font-size: 20px;
        border-radius: 18px;
    }

    .destinations {
        padding: 40px 0 50px;
    }

    .destination__row {
        flex-direction: column;
        row-gap: 30px;
    }


    .destination__slider {
        width: 100%;
    }

    .slider__btn--prev {
        left: -15px;
    }

    .slider__btn--next {
        right: -15px;
    }

    .destinations__title {
        margin-bottom: 10px;
        font-size: 35px;
        
    }

    .destinations__title span {
        display: block;
        font-size: 20px;
    }

    .destinations__text {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .btn {
        padding: 20px 35px;
        border-radius: 20px;
        font-size: 18px;
    }

    .btn--login {
        font-size: 15px;
        font-weight: 500;
        border-radius: 100px;
        padding: 13px 44px;
    }

    /*  Customers  */

    .customers {
        padding: 50px 0 60px;
    }

    .customers__row {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .customers__title {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .review__client {
        column-gap: 30px;
        margin-bottom: 20px;
    }

    .review__client-avatar {
        width: 80px;
        height: 80px;
    }

    .review__client-desc-name {
        font-size: 23px;
        margin-bottom: 5px;
    }

    .review__client-desc-country {
        font-size: 18px;
    }

    .review__text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .review__rating {
        min-width: 200px;
    }

    .customers__img img {
        max-width: 300px;
        border-radius: 40px;
    }

    /*  CTA  */

    .cta {
        padding: 50px 0;
    }

    .cta__title {
        margin-bottom: 20px;
        font-size: 35px;
    }

    .cta__text {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .cta__plate {
        min-height: 380px;
        border-radius: 40px;
        padding: 20px 15px;
    }

       /*  SUBSCRIBE  */

    .subcribe {
        padding: 25px 0 30px;
    }

    .subcribe__title {
        margin-bottom: 30px;
        font-size: 35px;
    }

    .subcribe-form__btn {
        padding: 20px 30px;
        font-size: 20px;
    }

    .subcribe-form {
        padding: 10px 10px 10px 20px;
        border-radius: 25px;
        column-gap: 10px;
    }

    .subcribe-form__input {
        font-size: 20px;
    }

      /*  FOOTER  */

        .nav__login--footer {
            display: none;
        }
}



@media (max-width: 600) {
    .nav--footer {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
}

@media (max-width: 480px) {
    .subcribe-form {
        flex-direction: column;
        row-gap: 10px;
        padding: 10px;
    }

    .subcribe-form__input {
        padding: 15px 0;
        text-align: center;
        background-color: #c4c4c470;
        border-radius: 20px;
        font-size: 18px;
    }

    .nav--footer {
        
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }
    .nav__list--footer {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }

}

@media (max-width: 460px) {
    .nav--mobile .nav__toggle {
        
        top: 20px;
        right: 20px;
        
    }

    .nav--mobile .nav__list,
    .nav--mobile .nav__login {
        gap: 20px;
    }

    .customers__img img {
        max-width: 100%;
    }
}


/*  2;22;23